{% load static %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
      {% block css %}
      {% endblock %}
      <link rel="stylesheet" href="{% static 'demoapp/styles/base.css' %}" />
  </head>
  <body>
    <h1>This is demo app Привет</h1>
    {% block page_name %}
    {% endblock page_name %}
    <nav class="menu">
      <ul class="mainUl">
        <li><a href="{% url 'demo-home' %}">Home</a></li>
        <li><a href="{% url 'demo-page2' %}">Second</a></li>
        <li><a href="{% url 'demo-forms' %}">Forms</a></li>
        <li><a href="{% url 'demo-forms-create' %}">Car Create</a></li>
      </ul>
    </nav>
    <div>
      {% block contents %}{% endblock contents %}
    </div>
    <footer>
      Footer is here
    </footer>
    {% block js %}{% endblock %}
  </body>
</html>